{{ if eq .type "left" }}
<div class="flex flex-row items-start mt-4">
  <div class="border-t-4 border-r-4 border-transparent">
    <div class="ml-12 w-12 h-12 rounded-bl-full border-b-4 border-l-4 border-gray-200 border-solid"></div>
  </div>
  <div class="flex-auto border-t-4 border-transparent">
    <div class="h-12 border-b-4 border-gray-200 border-solid"></div>
  </div>
  <div class="mt-12 mr-12 w-12 h-12 rounded-tr-full border-t-4 border-r-4 border-gray-200 border-solid"></div>
</div>
{{ else if eq .type "right" }}
<div class="flex flex-row-reverse items-start">
  <div class="border-t-4 border-l-4 border-transparent">
    <div class="mr-16 w-16 h-16 rounded-br-full border-r-4 border-b-4 border-gray-200 border-solid"></div>
  </div>
  <div class="flex-auto border-t-4 border-transparent">
    <div class="h-16 border-b-4 border-gray-200 border-solid"></div>
  </div>
  <div class="mt-16 ml-16 w-16 h-16 rounded-tl-full border-t-4 border-l-4 border-gray-200 border-solid"></div>
</div>
{{ end }}