<section class="py-4 bg-white md:py-6">
  <div class="mx-auto max-w-8xl" x-data="{ expanded: false }">
    <!-- Initial 6 brands grid -->
    <div class="grid grid-cols-3 gap-0 md:grid-cols-6 px-4 md:px-0">
      {{ range first 6 .brands }}
      <a
        href="{{ .url }}"
        class="block p-3 h-20 border-[0.5px] border-gray-100 transition-all duration-200 md:h-24 hover:z-10 relative group"
      >
        {{ partial "image.html" (dict
          "src" .logo
          "alt" .name
          "width" 300
          "height" 127
          "class" "object-contain w-full h-full transition-transform duration-200 group-hover:scale-110"
          "placeholder" true
          "placeholder_service" "placeholder"
          "placeholder_category" "BRAND"
        ) }}
      </a>
      {{ end }}
    </div>

    <!-- Expanded brands with FAQ-style animation -->
    <div
      class="overflow-hidden relative max-h-0 transition-all duration-150 ease-in-out"
      x-ref="container"
      x-bind:style="expanded ? 'max-height: ' + $refs.container.scrollHeight + 'px' : ''"
    >
      <div>
        <div class="grid grid-cols-3 gap-0 md:grid-cols-6 px-4 md:px-0">
          <!-- Row 1: Marc Jacobs -->
          <a
            href="/designer-glasses/marc-jacobs"
            class="block p-3 h-20 border-[0.5px] border-gray-100 border-t-0 transition-all duration-200 md:h-24 hover:z-10 relative group"
          >
            <img
              src="https://spex4less.com/media/wysiwyg/logos/marcj_logo.png"
              alt="Marc Jacobs"
              width="110"
              height="45"
              loading="lazy"
              class="mx-auto object-contain w-full h-full transition-transform duration-200 group-hover:scale-110"
            />
          </a>

          <!-- Row 2: Tommy Hilfiger -->
          <a
            href="/designer-glasses/tommy-hilfiger"
            class="block p-3 h-20 border-[0.5px] border-gray-100 border-t-0 transition-all duration-200 md:h-24 hover:z-10 relative group"
          >
            <svg
              width="110"
              height="45"
              viewBox="0 0 2428 1592"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="mx-auto object-contain w-full h-full transition-transform duration-200 group-hover:scale-110"
              alt="tommy hilfiger"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M0.462002 1.25C-0.336998 3.351 0.448 394.517 1.25 394.25C1.663 394.113 547.85 394 1215 394H2428V197V0H1214.47C244.564 0 0.842002 0.251 0.462002 1.25ZM729.089 124.338C792.924 140.749 814.699 219.945 768.031 265.96C721.363 311.975 642.167 290.2 625.756 226.365C609.345 162.53 665.254 107.927 729.089 124.338ZM1215 394C547.85 394 1.663 394.113 1.25 394.25C0.448 394.517 -0.336998 395.649 0.462002 397.75C0.842002 398.749 244.564 399 1214.47 399H2428V394H1215ZM1215 197C547.85 197 1.663 197.113 1.25 197.25C0.448 197.517 -0.336998 198.649 0.462002 200.75C0.842002 201.749 244.564 202 1214.47 202H2428V197H1215Z"
                fill="#000000"
              />
            </svg>
          </a>

          <!-- Row 3: Ray-Ban -->
          <a
            href="/designer-glasses/ray-ban"
            class="block p-3 h-20 border-[0.5px] border-gray-100 border-t-0 transition-all duration-200 md:h-24 hover:z-10 relative group"
          >
            <img
              src="https://spex4less.com/media/wysiwyg/logos/rayban_logo.png"
              alt="Ray-Ban"
              width="110"
              height="45"
              loading="lazy"
              class="mx-auto object-contain w-full h-full transition-transform duration-200 group-hover:scale-110"
            />
          </a>

          <!-- Row 4: Gucci -->
          <a
            href="/designer-glasses/gucci"
            class="block p-3 h-20 border-[0.5px] border-gray-100 border-t-0 transition-all duration-200 md:h-24 hover:z-10 relative group"
          >
            <img
              src="https://spex4less.com/media/wysiwyg/logos/gucci_logo.png"
              alt="Gucci"
              width="110"
              height="45"
              loading="lazy"
              class="mx-auto object-contain w-full h-full transition-transform duration-200 group-hover:scale-110"
            />
          </a>

          <!-- Row 5: Oakley -->
          <a
            href="/designer-glasses/oakley"
            class="block p-3 h-20 border-[0.5px] border-gray-100 border-t-0 transition-all duration-200 md:h-24 hover:z-10 relative group"
          >
            <img
              src="https://spex4less.com/media/wysiwyg/logos/oakley_logo.png"
              alt="Oakley"
              width="110"
              height="45"
              loading="lazy"
              class="mx-auto object-contain w-full h-full transition-transform duration-200 group-hover:scale-110"
            />
          </a>

          <!-- Row 6: Tom Ford -->
          <a
            href="/designer-glasses/tom-ford"
            class="block p-3 h-20 border-[0.5px] border-gray-100 border-t-0 transition-all duration-200 md:h-24 hover:z-10 relative group"
          >
            <img
              src="https://spex4less.com/media/wysiwyg/logos/tomford_logo.png"
              alt="Tom Ford"
              width="110"
              height="45"
              loading="lazy"
              class="mx-auto object-contain w-full h-full transition-transform duration-200 group-hover:scale-110"
            />
          </a>

          <!-- Row 7: Michael Kors -->
          <a
            href="/designer-glasses/michael-kors"
            class="block p-3 h-20 border-[0.5px] border-gray-100 border-t-0 transition-all duration-200 md:h-24 hover:z-10 relative group"
          >
            <img
              src="https://spex4less.com/media/wysiwyg/logos/michaelkors_logo.png"
              alt="Michael Kors"
              width="110"
              height="45"
              loading="lazy"
              class="mx-auto object-contain w-full h-full transition-transform duration-200 group-hover:scale-110"
            />
          </a>

          <!-- Row 8: Superdry -->
          <a
            href="/designer-glasses/superdry"
            class="block p-3 h-20 border-[0.5px] border-gray-100 border-t-0 transition-all duration-200 md:h-24 hover:z-10 relative group"
          >
            <img
              src="https://spex4less.com/media/wysiwyg/logos/superdry_logo.png"
              alt="Superdry"
              width="110"
              height="45"
              loading="lazy"
              class="mx-auto object-contain w-full h-full transition-transform duration-200 group-hover:scale-110"
            />
          </a>

          <!-- Row 9: Adidas Original -->
          <a
            href="/designer-glasses/adidas-original"
            class="block p-3 h-20 border-[0.5px] border-gray-100 border-t-0 transition-all duration-200 md:h-24 hover:z-10 relative group"
          >
            <img
              src="https://spex4less.com/media/wysiwyg/logos/adidas_logo.png"
              alt="Adidas Original"
              width="110"
              height="45"
              loading="lazy"
              class="mx-auto object-contain w-full h-full transition-transform duration-200 group-hover:scale-110"
            />
          </a>

          <!-- Row 10: Adidas Sport -->
          <a
            href="/designer-glasses/adidas-sport"
            class="block p-3 h-20 border-[0.5px] border-gray-100 border-t-0 transition-all duration-200 md:h-24 hover:z-10 relative group"
          >
            <img
              src="https://spex4less.com/media/wysiwyg/logos/adidas_sport_logo.png"
              alt="Adidas Sport"
              width="110"
              height="45"
              loading="lazy"
              class="mx-auto object-contain w-full h-full transition-transform duration-200 group-hover:scale-110"
            />
          </a>

          <!-- Row 11: Balenciaga -->
          <a
            href="/designer-glasses/balenciaga"
            class="block p-3 h-20 border-[0.5px] border-gray-100 border-t-0 transition-all duration-200 md:h-24 hover:z-10 relative group"
          >
            <img
              src="https://spex4less.com/media/wysiwyg/logos/balenciaga_logo.png"
              alt="Balenciaga"
              width="110"
              height="45"
              loading="lazy"
              class="mx-auto object-contain w-full h-full transition-transform duration-200 group-hover:scale-110"
            />
          </a>

          <!-- Row 12: Boss -->
          <a
            href="/designer-glasses/boss"
            class="block p-3 h-20 border-[0.5px] border-gray-100 border-t-0 transition-all duration-200 md:h-24 hover:z-10 relative group"
          >
            <img
              src="https://spex4less.com/media/wysiwyg/logos/boss_logo.png"
              alt="Boss"
              width="110"
              height="45"
              loading="lazy"
              class="mx-auto object-contain w-full h-full transition-transform duration-200 group-hover:scale-110"
            />
          </a>

          <!-- Row 13: Bvlgari -->
          <a
            href="/designer-glasses/bvlgari"
            class="block p-3 h-20 border-[0.5px] border-gray-100 border-t-0 transition-all duration-200 md:h-24 hover:z-10 relative group"
          >
            <img
              src="https://spex4less.com/media/wysiwyg/logos/bvlgari_logo.png"
              alt="Bvlgari"
              width="110"
              height="45"
              loading="lazy"
              class="mx-auto object-contain w-full h-full transition-transform duration-200 group-hover:scale-110"
            />
          </a>

          <!-- Row 14: Ducati -->
          <a
            href="/designer-glasses/ducati"
            class="block p-3 h-20 border-[0.5px] border-gray-100 border-t-0 transition-all duration-200 md:h-24 hover:z-10 relative group"
          >
            <img
              src="https://spex4less.com/media/wysiwyg/logos/ducati_logo.png"
              alt="Ducati"
              width="110"
              height="45"
              loading="lazy"
              class="mx-auto object-contain w-full h-full transition-transform duration-200 group-hover:scale-110"
            />
          </a>

          <!-- Row 15: Carolina Herrera -->
          <a
            href="/designer-glasses/carolina-herrera"
            class="block p-3 h-20 border-[0.5px] border-gray-100 border-t-0 transition-all duration-200 md:h-24 hover:z-10 relative group"
          >
            <img
              src="https://spex4less.com/media/wysiwyg/logos/carolina_herrera_logo.png"
              alt="Carolina Herrera"
              width="110"
              height="45"
              loading="lazy"
              class="mx-auto object-contain w-full h-full transition-transform duration-200 group-hover:scale-110"
            />
          </a>

          <!-- Row 16: Cat -->
          <a
            href="/designer-glasses/cat"
            class="block p-3 h-20 border-[0.5px] border-gray-100 border-t-0 transition-all duration-200 md:h-24 hover:z-10 relative group"
          >
            <img
              src="https://spex4less.com/media/wysiwyg/logos/cat_logo.png"
              alt="Cat"
              width="110"
              height="45"
              loading="lazy"
              class="mx-auto object-contain w-full h-full transition-transform duration-200 group-hover:scale-110"
            />
          </a>

          <!-- Row 17: Chiara Ferragni -->
          <a
            href="/designer-glasses/chiara-ferragni"
            class="block p-3 h-20 border-[0.5px] border-gray-100 border-t-0 transition-all duration-200 md:h-24 hover:z-10 relative group"
          >
            <img
              src="https://spex4less.com/media/wysiwyg/logos/chiara_ferragni_logo.png"
              alt="Chiara Ferragni"
              width="110"
              height="45"
              loading="lazy"
              class="mx-auto object-contain w-full h-full transition-transform duration-200 group-hover:scale-110"
            />
          </a>

          <!-- Row 18: Chloe -->
          <a
            href="/designer-glasses/chloe"
            class="block p-3 h-20 border-[0.5px] border-gray-100 border-t-0 transition-all duration-200 md:h-24 hover:z-10 relative group"
          >
            <img
              src="https://spex4less.com/media/wysiwyg/logos/chloe_logo.png"
              alt="Chloe"
              width="110"
              height="45"
              loading="lazy"
              class="mx-auto object-contain w-full h-full transition-transform duration-200 group-hover:scale-110"
            />
          </a>

          <!-- Row 19: David Beckham -->
          <a
            href="/designer-glasses/david-beckham"
            class="block p-3 h-20 border-[0.5px] border-gray-100 border-t-0 transition-all duration-200 md:h-24 hover:z-10 relative group"
          >
            <img
              src="https://spex4less.com/media/wysiwyg/logos/david_beckham_logo.png"
              alt="David Beckham"
              width="110"
              height="45"
              loading="lazy"
              class="mx-auto object-contain w-full h-full transition-transform duration-200 group-hover:scale-110"
            />
          </a>

          <!-- Row 20: Dsquared2 -->
          <a
            href="/designer-glasses/dsquared2"
            class="block p-3 h-20 border-[0.5px] border-gray-100 border-t-0 transition-all duration-200 md:h-24 hover:z-10 relative group"
          >
            <img
              src="https://spex4less.com/media/wysiwyg/logos/dsquared2_logo.png"
              alt="Dsquared2"
              width="110"
              height="45"
              loading="lazy"
              class="mx-auto object-contain w-full h-full transition-transform duration-200 group-hover:scale-110"
            />
          </a>

          <!-- Row 21: Emporio Armani -->
          <a
            href="/designer-glasses/emporio-armani"
            class="block p-3 h-20 border-[0.5px] border-gray-100 border-t-0 transition-all duration-200 md:h-24 hover:z-10 relative group"
          >
            <img
              src="https://spex4less.com/media/wysiwyg/logos/emporio_armani_logo.png"
              alt="Emporio Armani"
              width="110"
              height="45"
              loading="lazy"
              class="mx-auto object-contain w-full h-full transition-transform duration-200 group-hover:scale-110"
            />
          </a>

          <!-- Row 22: Gant -->
          <a
            href="/designer-glasses/gant"
            class="block p-3 h-20 border-[0.5px] border-gray-100 border-t-0 transition-all duration-200 md:h-24 hover:z-10 relative group"
          >
            <img
              src="https://spex4less.com/media/wysiwyg/logos/gant_logo.png"
              alt="Gant"
              width="110"
              height="45"
              loading="lazy"
              class="mx-auto object-contain w-full h-full transition-transform duration-200 group-hover:scale-110"
            />
          </a>

          <!-- Row 23: Hugo -->
          <a
            href="/designer-glasses/hugo"
            class="block p-3 h-20 border-[0.5px] border-gray-100 border-t-0 transition-all duration-200 md:h-24 hover:z-10 relative group"
          >
            <img
              src="https://spex4less.com/media/wysiwyg/logos/hugo_logo.png"
              alt="Hugo"
              width="110"
              height="45"
              loading="lazy"
              class="mx-auto object-contain w-full h-full transition-transform duration-200 group-hover:scale-110"
            />
          </a>

          <!-- Row 24: Kate Spade -->
          <a
            href="/designer-glasses/kate-spade"
            class="block p-3 h-20 border-[0.5px] border-gray-100 border-t-0 transition-all duration-200 md:h-24 hover:z-10 relative group"
          >
            <img
              src="https://spex4less.com/media/wysiwyg/logos/kate_spade_logo.png"
              alt="Kate Spade"
              width="110"
              height="45"
              loading="lazy"
              class="mx-auto object-contain w-full h-full transition-transform duration-200 group-hover:scale-110"
            />
          </a>

          <!-- Row 25: Lipsy -->
          <a
            href="/designer-glasses/lipsy"
            class="block p-3 h-20 border-[0.5px] border-gray-100 border-t-0 transition-all duration-200 md:h-24 hover:z-10 relative group"
          >
            <img
              src="https://spex4less.com/media/wysiwyg/logos/lipsy_logo.png"
              alt="Lipsy"
              width="110"
              height="45"
              loading="lazy"
              class="mx-auto object-contain w-full h-full transition-transform duration-200 group-hover:scale-110"
            />
          </a>

          <!-- Row 26: Mont Blanc -->
          <a
            href="/designer-glasses/mont-blanc"
            class="block p-3 h-20 border-[0.5px] border-gray-100 border-t-0 transition-all duration-200 md:h-24 hover:z-10 relative group"
          >
            <img
              src="https://spex4less.com/media/wysiwyg/logos/mont_blanc_logo.png"
              alt="Mont Blanc"
              width="110"
              height="45"
              loading="lazy"
              class="mx-auto object-contain w-full h-full transition-transform duration-200 group-hover:scale-110"
            />
          </a>

          <!-- Row 27: Oneill -->
          <a
            href="/designer-glasses/oneill"
            class="block p-3 h-20 border-[0.5px] border-gray-100 border-t-0 transition-all duration-200 md:h-24 hover:z-10 relative group"
          >
            <img
              src="https://spex4less.com/media/wysiwyg/logos/oneill_logo.png"
              alt="Oneill"
              width="110"
              height="45"
              loading="lazy"
              class="mx-auto object-contain w-full h-full transition-transform duration-200 group-hover:scale-110"
            />
          </a>

          <!-- Row 28: Pierre Cardin -->
          <a
            href="/designer-glasses/pierre-cardin"
            class="block p-3 h-20 border-[0.5px] border-gray-100 border-t-0 transition-all duration-200 md:h-24 hover:z-10 relative group"
          >
            <img
              src="https://spex4less.com/media/wysiwyg/logos/pierre_cardin_logo.png"
              alt="Pierre Cardin"
              width="110"
              height="45"
              loading="lazy"
              class="mx-auto object-contain w-full h-full transition-transform duration-200 group-hover:scale-110"
            />
          </a>

          <!-- Row 29: Polaroid -->
          <a
            href="/designer-glasses/polaroid"
            class="block p-3 h-20 border-[0.5px] border-gray-100 border-t-0 transition-all duration-200 md:h-24 hover:z-10 relative group"
          >
            <img
              src="https://spex4less.com/media/wysiwyg/logos/polaroid_logo.png"
              alt="Polaroid"
              width="110"
              height="45"
              loading="lazy"
              class="mx-auto object-contain w-full h-full transition-transform duration-200 group-hover:scale-110"
            />
          </a>

          <!-- Row 30: Radley -->
          <a
            href="/designer-glasses/radley"
            class="block p-3 h-20 border-[0.5px] border-gray-100 border-t-0 transition-all duration-200 md:h-24 hover:z-10 relative group"
          >
            <img
              src="https://spex4less.com/media/wysiwyg/logos/radley_logo.png"
              alt="Radley"
              width="110"
              height="45"
              loading="lazy"
              class="mx-auto object-contain w-full h-full transition-transform duration-200 group-hover:scale-110"
            />
          </a>

          <!-- Row 31: Rag & Bone -->
          <a
            href="/designer-glasses/rag-bone"
            class="block p-3 h-20 border-[0.5px] border-gray-100 border-t-0 transition-all duration-200 md:h-24 hover:z-10 relative group"
          >
            <img
              src="https://spex4less.com/media/wysiwyg/logos/rag_bone_logo.png"
              alt="Rag & Bone"
              width="110"
              height="45"
              loading="lazy"
              class="mx-auto object-contain w-full h-full transition-transform duration-200 group-hover:scale-110"
            />
          </a>

          <!-- Row 32: Salvini -->
          <a
            href="/designer-glasses/salvini"
            class="block p-3 h-20 border-[0.5px] border-gray-100 border-t-0 transition-all duration-200 md:h-24 hover:z-10 relative group"
          >
            <img
              src="https://spex4less.com/media/wysiwyg/logos/salvini_logo.png"
              alt="Salvini"
              width="110"
              height="45"
              loading="lazy"
              class="mx-auto object-contain w-full h-full transition-transform duration-200 group-hover:scale-110"
            />
          </a>

          <!-- Row 33: Seventh Street -->
          <a
            href="/designer-glasses/seventh-street"
            class="block p-3 h-20 border-[0.5px] border-gray-100 border-t-0 transition-all duration-200 md:h-24 hover:z-10 relative group"
          >
            <img
              src="https://spex4less.com/media/wysiwyg/logos/seventh_street_logo.png"
              alt="Seventh Street"
              width="110"
              height="45"
              loading="lazy"
              class="mx-auto object-contain w-full h-full transition-transform duration-200 group-hover:scale-110"
            />
          </a>

          <!-- Row 34: Swarovski -->
          <a
            href="/designer-glasses/swarovski"
            class="block p-3 h-20 border-[0.5px] border-gray-100 border-t-0 transition-all duration-200 md:h-24 hover:z-10 relative group"
          >
            <img
              src="https://spex4less.com/media/wysiwyg/logos/swarovski_logo.png"
              alt="Swarovski"
              width="110"
              height="45"
              loading="lazy"
              class="mx-auto object-contain w-full h-full transition-transform duration-200 group-hover:scale-110"
            />
          </a>

          <!-- Row 35: Timberland -->
          <a
            href="/designer-glasses/timberland"
            class="block p-3 h-20 border-[0.5px] border-gray-100 border-t-0 transition-all duration-200 md:h-24 hover:z-10 relative group"
          >
            <img
              src="https://spex4less.com/media/wysiwyg/logos/timberland_logo.png"
              alt="Timberland"
              width="110"
              height="45"
              loading="lazy"
              class="mx-auto object-contain w-full h-full transition-transform duration-200 group-hover:scale-110"
            />
          </a>

          <!-- Row 36: Under Armour -->
          <a
            href="/designer-glasses/under-armour"
            class="block p-3 h-20 border-[0.5px] border-gray-100 border-t-0 transition-all duration-200 md:h-24 hover:z-10 relative group"
          >
            <img
              src="https://spex4less.com/media/wysiwyg/logos/under_armour_logo.png"
              alt="Under Armour"
              width="110"
              height="45"
              loading="lazy"
              class="mx-auto object-contain w-full h-full transition-transform duration-200 group-hover:scale-110"
            />
          </a>
        </div>
      </div>
    </div>

    <!-- Control buttons -->
    <div class="mt-6 text-center md:mt-8" x-show="{{ len .brands }} > 6">
      <div class="flex justify-center items-center gap-4">
        <!-- Toggle button with big chevron -->
        <button
          type="button"
          class="inline-flex justify-center items-center w-12 h-12 rounded-full transition-all duration-200 bg-s hover:bg-s/80 focus:ring-2 focus:ring-s focus:ring-offset-2"
          @click="expanded = !expanded"
        >
          <svg
            class="w-6 h-6 text-white transition-transform duration-150"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            x-bind:class="expanded ? 'rotate-180' : ''"
          >
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
          </svg>
        </button>

        <!-- Browse All Brands link - only show when expanded and we have 24+ brands -->
        <a
          x-show="expanded && {{ len .brands }} >= 24"
          href="#brands-a-z"
          class="text-gray-500 hover:text-gray-700 hover:underline transition-colors duration-200"
        >
          Browse All Brands
        </a>
      </div>
    </div>
  </div>
</section>
