<div class="flex flex-col items-start mt-4 mb-4 md:px-3">
  <div class="flex items-center px-8 py-4 space-x-6 bg-gray-100 rounded-full dark:bg-gray-800">
    {{ range .brands }}
    <a href="{{ .url }}" class="transition-transform hover:scale-110">
      {{ partial "image.html" (dict 
        "src" .logo 
        "alt" .name 
        "width" (.width | default 90)
        "height" (.original_height | default 35)
        "class" (printf "w-auto %s" (.height | default "h-8"))
        "loading" "lazy"
        "placeholder" true
        "placeholder_service" "placeholder"
        "placeholder_category" "LOGO"
      ) }}
    </a>
    {{ end }}
  </div>
</div>