<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../output.css" rel="stylesheet" />
  </head>
  <body class="bg-white">
    <section class="container px-2 md:px-6 py-2 md:py-4 mx-auto">
      <div>
        <div class="lg:flex lg:items-center">
          <div class="space-y-8 w-full lg:w-1/2">
            <div>
              <h1
                class="text-2xl font-semibold capitalize lg:text-3xl text-slate-900"
              >
                Blue Light Glasses
              </h1>

              <div class="mt-2">
                <span class="inline-block w-40 h-1 bg-s rounded-full"></span>
                <span
                  class="inline-block ml-1 w-3 h-1 bg-s rounded-full"
                ></span>
                <span
                  class="inline-block ml-1 w-1 h-1 bg-s rounded-full"
                ></span>
              </div>
            </div>

            <div class="hidden md:block mt-2 md:mx-4 md:mt-0">
              <h1 class="text-xl font-semibold capitalize text-slate-900">
                Lorem ipsum dolor sit amet.
              </h1>

              <p class="mt-2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
                molestie auctor lorem. Duis ac auctor quam. Quisque sit amet
                egestas eros. Nam fermentum eros purus, id gravida ipsum ornare
                a. Praesent quis luctus libero.
              </p>
            </div>

            <div class="hidden md:block mt-2 md:mx-4 md:mt-0">
              <h1 class="text-xl font-semibold capitalize text-slate-900">
                Lorem ipsum dolor sit amet.
              </h1>
              <p class="mt-2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
                molestie auctor lorem. Duis ac auctor quam. Quisque sit amet
                egestas eros. Nam fermentum eros purus, id gravida ipsum ornare
                a. Praesent quis luctus libero.
              </p>
            </div>

            <div class="hidden md:block mt-2 md:mx-4 md:mt-0">
              <h1 class="text-xl font-semibold capitalize text-slate-900">
                Lorem ipsum dolor sit amet.
              </h1>
              <p class="mt-2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
                molestie auctor lorem. Duis ac auctor quam. Quisque sit amet
                egestas eros. Nam fermentum eros purus, id gravida ipsum ornare
                a. Praesent quis luctus libero.
              </p>
            </div>
          </div>

          <!-- Header Image -->
          <div
            class="hidden md:flex justify-center items-center w-full lg:w-1/2 mt-4 md:mt-10"
          >
            <img
              class="object-cover w-full rounded-md"
              src="../img/blue.jpeg"
              alt="glasses photo"
            />
          </div>
        </div>
      </div>
    </section>
    <section class="bg-gray-50 p-6 my-12">
      <div class="container mx-auto">
        <h2 class="text-4xl text-center text-slate-800 font-bold">
          Blue Light
        </h2>
        <div class="px-12">
          <p class="my-6 text-center leading-loose">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
            molestie auctor lorem. Duis ac auctor quam. Quisque sit amet egestas
            eros. Nam fermentum eros purus, id gravida ipsum ornare a. Praesent
            quis luctus libero.
          </p>
          <h2 class="text-3xl text-left text-slate-800 font-bold">
            What is blue light?
          </h2>
          <p class="my-4 leading-loose">
            Lux solis varios luminum colores continet (rubrum, luteum, flavum,
            viride, caeruleum, indicum, violaceum), cuius singuli diversam
            longitudinem et energiam habent. Haec coniuncta varietas luminum
            creat lucem album (vel lux solis). Lux caerulea est unum e luminum
            coloribus in hoc spectri lumini — visibili generaliter dicto. Hoc
            breve longitudinem habet et altam energetici gradum. Ex diversis
            fontibus lux caerulea emittitur, maxime a sole, unde maxima
            expositio evenit. Sed multae etiam sunt fontes arte factae, et nuper
            annis, lux caerulea notorietatem accepit propter nexus suum cum
            schermis digitalibus. Computatores, tabellae, smartphones aliaque
            schermata luminum caeruleum emittunt. Etsi haec pars solis
            emissionis minima est, frequentia hominum in his instrumentis utendi
            et propinquitas schermatum ad oculos quasdam curas generant de
            effectibus possibilibus a lumine caeruleo in oculorum sanitate.
          </p>
          <h2 class="text-3xl text-left text-slate-800 font-bold mt-12">
            Effects of Blue Light on Your Eyes
          </h2>
          <p class="my-4 leading-loose">
            Lux solis varios luminum colores continet (rubrum, luteum, flavum,
            viride, caeruleum, indicum, violaceum), cuius singuli diversam
            longitudinem et energiam habent. Haec coniuncta varietas luminum
            creat lucem album (vel lux solis). Lux caerulea est unum e luminum
            coloribus in hoc spectri lumini — visibili generaliter dicto. Hoc
            breve longitudinem habet et altam energetici gradum. Ex diversis
            fontibus lux caerulea emittitur, maxime a sole, unde maxima
            expositio evenit. Sed multae etiam sunt fontes arte factae, et nuper
            annis, lux caerulea notorietatem accepit propter nexus suum cum
            schermis digitalibus. Computatores, tabellae, smartphones aliaque
            schermata luminum caeruleum emittunt. Etsi haec pars solis
            emissionis minima est, frequentia hominum in his instrumentis utendi
            et propinquitas schermatum ad oculos quasdam curas generant de
            effectibus possibilibus a lumine caeruleo in oculorum sanitate.
          </p>
        </div>
      </div>
    </section>
    <section class="container mx-auto">
      <div>
        <div class="grid lg:gap-8 lg:grid-cols-2 lg:items-center px-12">
          <div class="lg:col-start-2">
            <h3
              class="text-2xl font-bold tracking-tight sm:text-3xl text-slate-800 dark:text-gray-50"
            >
              What Are Blue Light Glasses?
            </h3>
            <p class="mt-3 text-lg dark:text-gray-400">
              Omnes possibilem vitrum quod cogitare potes offerimus, a
              varifocalibus ad transmutationes speculi!
            </p>
            <div class="mt-12 space-y-12">
              <div class="flex">
                <div class="ml-4">
                  <h4 class="text-lg font-medium leading-6 dark:text-gray-50">
                    Varietas Vitrorum Eligendorum
                  </h4>
                  <p class="mt-2 dark:text-gray-400">
                    Varia genera vitrorum offerimus, a visione simplici ad
                    bifocalem et progressivam, necnon vitra specialia qualia
                    sunt vitra photochromatica et vitra contra fatigationem.
                  </p>
                </div>
              </div>
              <div class="flex">
                <div class="ml-4">
                  <h4 class="text-lg font-medium leading-6 dark:text-gray-50">
                    Auxiliares Coationes
                  </h4>
                  <p class="mt-2 dark:text-gray-400">
                    Praeterea varietatem coationum et additamentorum vitrorum
                    offerimus, includentium coationes contra nitorem, coationes
                    contra lumen caeruleum et coationes contra scrutationem.
                  </p>
                </div>
              </div>
              <div class="flex">
                <div class="ml-4">
                  <h4 class="text-lg font-medium leading-6 dark:text-gray-50">
                    Sine Dubio Emere
                  </h4>
                  <p class="mt-2 dark:text-gray-400">
                    Vitra nostra cum plena fiducia vendimus, tibi confidentiam
                    praebeamus ut nobiscum emas, sciens tuam satisfactionem esse
                    summam curam nostram.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-10 lg:mt-0 lg:col-start-1 lg:row-start-1 px-12">
            <img src=img/lens2.jpeg alt="" class="mx-auto rounded-lg shadow-lg
            dark:bg-gray-500" />
          </div>
        </div>
      </div>
      <div class="grid lg:gap-8 lg:grid-cols-2 lg:items-center px-12 mt-24">
        <div>
          <h3
            class="text-2xl font-bold tracking-tight sm:text-3xl dark:text-gray-50"
          >
            Do Blue Light Glasses Work?
          </h3>
          <p class="mt-3 text-lg dark:text-gray-400">
            Omnes nostra armatura veniunt cum lente standard gratuita ad
            prescriptionem tuam precisam facta
          </p>
          <div class="mt-12 space-y-12">
            <div class="flex">
              <div class="ml-4">
                <h4 class="text-lg font-medium leading-6 dark:text-gray-50">
                  Materiae Lentium Summae Qualitatis
                </h4>
                <p class="mt-2 dark:text-gray-400">
                  Lentibus nostris nova technologia et materia utentes
                  claritatem et firmitatem maximam assecuramus.
                </p>
              </div>
            </div>
            <div class="flex">
              <div class="ml-4">
                <h4 class="text-lg font-medium leading-6 dark:text-gray-50">
                  Ad Tuas Necessitates Accommodata
                </h4>
                <p class="mt-2 dark:text-gray-400">
                  Lentes nostrae ad tuas condiciones specificas designatae sunt
                  ut correctionem visionis optimam praebent.
                </p>
              </div>
            </div>
            <div class="flex">
              <div class="ml-4">
                <h4 class="text-lg font-medium leading-6 dark:text-gray-50">
                  Periti Lentium Adiutores Utilitates
                </h4>
                <p class="mt-2 dark:text-gray-400">
                  Nostra peritia et servitium clientis semper tibi adsunt ut
                  quaestiones de lentibus aut de eligendo copiam perfectam
                  ocularum tibi congruentium respondeant.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div aria-hidden="true" class="mt-10 lg:mt-0 px-12">
          <img
            src="../img/lens.jpeg"
            alt=""
            class="mx-auto rounded-lg shadow-lg dark:bg-gray-500"
          />
        </div>
      </div>
    </section>
    <section class="bg-gray-50 p-6 my-12">
      <div class="container mx-auto">
        <h2 class="text-4xl text-center text-slate-800 font-bold">
          Dealing With Blue Light
        </h2>
        <div class="px-12">
          <p class="my-6 text-center leading-loose">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
            molestie auctor lorem. Duis ac auctor quam. Quisque sit amet egestas
            eros. Nam fermentum eros purus, id gravida ipsum ornare a. Praesent
            quis luctus libero.
          </p>
          <h2 class="text-3xl text-left text-slate-800 font-bold">
            Screen use top tips
          </h2>
          <p class="my-4 leading-loose">
            Lux solis varios luminum colores continet (rubrum, luteum, flavum,
            viride, caeruleum, indicum, violaceum), cuius singuli diversam
            longitudinem et energiam habent. Haec coniuncta varietas luminum
            creat lucem album (vel lux solis). Lux caerulea est unum e luminum
            coloribus in hoc spectri lumini — visibili generaliter dicto. Hoc
            breve longitudinem habet et altam energetici gradum. Ex diversis
            fontibus lux caerulea emittitur, maxime a sole, unde maxima
            expositio evenit. Sed multae etiam sunt fontes arte factae, et nuper
            annis, lux caerulea notorietatem accepit propter nexus suum cum
            schermis digitalibus. Computatores, tabellae, smartphones aliaque
            schermata luminum caeruleum emittunt. Etsi haec pars solis
            emissionis minima est, frequentia hominum in his instrumentis utendi
            et propinquitas schermatum ad oculos quasdam curas generant de
            effectibus possibilibus a lumine caeruleo in oculorum sanitate.
          </p>
          <h2 class="text-3xl text-left text-slate-800 font-bold mt-12">
            Glasses for screen use
          </h2>
          <p class="my-4 leading-loose">
            Lux solis varios luminum colores continet (rubrum, luteum, flavum,
            viride, caeruleum, indicum, violaceum), cuius singuli diversam
            longitudinem et energiam habent. Haec coniuncta varietas luminum
            creat lucem album (vel lux solis). Lux caerulea est unum e luminum
            coloribus in hoc spectri lumini — visibili generaliter dicto. Hoc
            breve longitudinem habet et altam energetici gradum. Ex diversis
            fontibus lux caerulea emittitur, maxime a sole, unde maxima
            expositio evenit. Sed multae etiam sunt fontes arte factae, et nuper
            annis, lux caerulea notorietatem accepit propter nexus suum cum
            schermis digitalibus. Computatores, tabellae, smartphones aliaque
            schermata luminum caeruleum emittunt. Etsi haec pars solis
            emissionis minima est, frequentia hominum in his instrumentis utendi
            et propinquitas schermatum ad oculos quasdam curas generant de
            effectibus possibilibus a lumine caeruleo in oculorum sanitate.
          </p>
        </div>
      </div>
    </section>
    <section class="my-12">
      <div class="container mx-auto px-32">
        <h2
          class="text-center text-4xl lg:w-5/12 md:w-8/12 sm:w-full mx-auto font-bold text-slate-800 mt-8"
        >
          Frequently Asked Questions
        </h2>
        <div class="flex flex-wrap mt-10">
          <div
            class="md:w-full lg:w-1/3 p-5 w-full h-full flex justify-center items-center"
          >
            <img
              src="../img/faq2.jpeg"
              alt="Lenses"
              class="w-full h-full rounded-xl"
            />
          </div>
          <div class="md:w-full p-5 w-full lg:w-2/3 align-middle">
            <div class="accordion rounded-lg show mb-4 bg-gray-100">
              <h3
                class="acc-head font-medium text-slate-900 text-lg p-3 flex justify-between items-center"
              >
                <span>Highest Quality Lense Material</span>
                <i class="fa fa-arrow-down"></i>
              </h3>
              <div class="acc-content">
                <p class="p-3 text-sm">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse
                  error iusto impedit ut cupiditate voluptates praesentium
                  perferendis placeat illum tempore! Doloribus, nihil quia
                  facilis error iure praesentium quaerat autem doloremque.
                </p>
              </div>
            </div>
            <div class="accordion rounded-lg mb-4 bg-gray-100">
              <h3
                class="acc-head font-semibold text-slate-900 text-lg p-3 flex justify-between items-center"
              >
                <span>Cartered to Your Needs</span>
                <i class="fa fa-arrow-down"></i>
              </h3>
              <div class="acc-content hidden">
                <p class="p-3 text-sm">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse
                  error iusto impedit ut cupiditate voluptates praesentium
                  perferendis placeat illum tempore! Doloribus, nihil quia
                  facilis error iure praesentium quaerat autem doloremque.
                </p>
              </div>
            </div>
            <div class="accordion rounded-lg mb-4 bg-gray-100">
              <h3
                class="acc-head font-semibold text-slate-900 text-lg p-3 flex justify-between items-center"
              >
                <span>Helpful Lens Experts</span>
                <i class="fa fa-arrow-down"></i>
              </h3>
              <div class="acc-content hidden">
                <p class="p-3 text-sm">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse
                  error iusto impedit ut cupiditate voluptates praesentium
                  perferendis placeat illum tempore! Doloribus, nihil quia
                  facilis error iure praesentium quaerat autem doloremque.
                </p>
              </div>
            </div>
            <div class="accordion rounded-lg mb-4 bg-gray-100">
              <h3
                class="acc-head font-semibold text-slate-900 text-lg p-3 flex justify-between items-center"
              >
                <span>A Variety of Lenses to Choose From</span>
                <i class="fa fa-arrow-down"></i>
              </h3>
              <div class="acc-content hidden">
                <p class="p-3 text-sm">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse
                  error iusto impedit ut cupiditate voluptates praesentium
                  perferendis placeat illum tempore! Doloribus, nihil quia
                  facilis error iure praesentium quaerat autem doloremque.
                </p>
              </div>
            </div>
            <div class="accordion rounded-lg mb-4 bg-gray-100">
              <h3
                class="acc-head font-semibold text-slate-900 text-lg p-3 flex justify-between items-center"
              >
                <span>Helpful Coatings</span> <i class="fa fa-arrow-down"></i>
              </h3>
              <div class="acc-content hidden">
                <p class="p-3 text-sm">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse
                  error iusto impedit ut cupiditate voluptates praesentium
                  perferendis placeat illum tempore! Doloribus, nihil quia
                  facilis error iure praesentium quaerat autem doloremque.
                </p>
              </div>
            </div>
            <div class="accordion rounded-lg mb-4 bg-gray-100">
              <h3
                class="acc-head font-semibold text-slate-900 text-lg p-3 flex justify-between items-center"
              >
                <span>Shop With Confidence</span>
                <i class="fa fa-arrow-down"></i>
              </h3>
              <div class="acc-content hidden">
                <p class="p-3 text-sm">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse
                  error iusto impedit ut cupiditate voluptates praesentium
                  perferendis placeat illum tempore! Doloribus, nihil quia
                  facilis error iure praesentium quaerat autem doloremque.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
  <script>
    const accordions = document.querySelectorAll(".accordion");

    accordions.forEach((accordion) => {
      const accHead = accordion.querySelector(".acc-head");
      const accContent = accordion.querySelector(".acc-content");

      accHead.addEventListener("click", () => {
        accordions.forEach((otherAccordion) => {
          if (otherAccordion !== accordion) {
            otherAccordion
              .querySelector(".acc-content")
              .classList.add("hidden");
            otherAccordion
              .querySelector(".acc-head i")
              .classList.remove("fa-arrow-up");
            otherAccordion
              .querySelector(".acc-head i")
              .classList.add("fa-arrow-down");
          }
        });

        accContent.classList.toggle("hidden");
        accHead.querySelector("i").classList.toggle("fa-arrow-down");
        accHead.querySelector("i").classList.toggle("fa-arrow-up");
      });
    });
  </script>
</html>
