<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../output.css" rel="stylesheet" />
  </head>
  <body class="bg-white">
    <div class="relative lg:grid lg:grid-cols-2">
      <img alt="A runner tying his shoes" class="absolute h-full w-full object-cover lg:relative"
        src="https://unsplash.com/photos/d3bYmnZ0ank/download?force=true&auto=format&fit=crop&w=1228&q=80" width="1228"
        height="768" loading="lazy" />
      <div class="relative bg-gradient-to-t from-s pt-48 pb-12 px-8 lg:bg-p">
        <div class="max-w-lg mx-auto flex flex-col gap-10">
          <div class="text-6xl leading-none font-bold text-white drop-shadow-lg text-center lg:text-left xl:text-7xl">
            Page Title
          </div>
          <div class="text-2xl leading-8 font-semibold text-white text-center lg:text-left">
            Omnes possibilem vitrum quod cogitare potes offerimus, a varifocalibus ad transmutationes speculi!
          </div>
          <div class="flex flex-col gap-4 justify-center sm:flex-row lg:flex-wrap lg:justify-start">
            <a href="{{store url='home'}}" class="bg-white text-s text-2xl font-bold px-8 py-6 shadow-md rounded-md flex justify-between hover:bg-l
                               sm:gap-4">
              <span>Shop Men</span><span>→</span>
            </a>
            <a href="{{store url='home'}}" class="bg-white text-s text-2xl font-bold px-8 py-6 shadow-md rounded-md flex justify-between
                               sm:gap-4">
              <span>Shop Women</span><span>→</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <section class="dark:bg-gray-800 dark:text-gray-100 ">
      <div class=" p-6 py-12 mx-auto space-y-12 max-w-xl lg:px-8 lg:max-w-7xl">
        <div>
          <h2 class="text-2xl font-bold lg:text-4xl font-heading text-center text-slate-800">
            Our Lens Options
          </h2>
        </div>
        <div class="grid lg:gap-8 lg:grid-cols-2 lg:items-center">
          <div>
            <h3 class="text-2xl font-bold tracking-tight sm:text-3xl dark:text-gray-50">
              Premium lenses don't need to be expensive
            </h3>
            <p class="mt-3 text-lg dark:text-gray-400">
              All our frames come with a free standard lens made to your precise
              prescription
            </p>
            <div class="mt-12 space-y-12">
              <div class="flex">
                <div class="flex-shrink-0">
                  <div class="flex justify-center items-center w-12 h-12 rounded-md dark:bg-b dark:text-gray-900">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                      class="w-7 h-7">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                    </svg>
                  </div>
                </div>
                <div class="ml-4">
                  <h4 class="text-lg font-medium leading-6 dark:text-gray-50">
                    Highest Quality Lens Materials
                  </h4>
                  <p class="mt-2 dark:text-gray-400">
                    Our lenses are made using the latest technology and materials to ensure maximum clarity
                    and durability.
                  </p>
                </div>
              </div>
              <div class="flex">
                <div class="flex-shrink-0">
                  <div class="flex justify-center items-center w-12 h-12 rounded-md dark:bg-b dark:text-gray-900">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                      class="w-7 h-7">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                    </svg>
                  </div>
                </div>
                <div class="ml-4">
                  <h4 class="text-lg font-medium leading-6 dark:text-gray-50">
                    Catered to Your Needs
                  </h4>
                  <p class="mt-2 dark:text-gray-400">
                    Our lenses are designed to cater to your specific requirements and provide optimal
                    vision correction.
                  </p>
                </div>
              </div>
              <div class="flex">
                <div class="flex-shrink-0">
                  <div class="flex justify-center items-center w-12 h-12 rounded-md dark:bg-b dark:text-gray-900">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                      class="w-7 h-7">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                    </svg>
                  </div>
                </div>
                <div class="ml-4">
                  <h4 class="text-lg font-medium leading-6 dark:text-gray-50">
                    Helpful Lens Experts
                  </h4>
                  <p class="mt-2 dark:text-gray-400">
                    Our knowledgeable customer service team is always available to assist you with any
                    questions you may have about our lenses or choosing the perfect pair of glasses to meet
                    your needs.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div aria-hidden="true" class="mt-10 lg:mt-0">
            <img src=../img/tall.jpeg alt="" class="mx-auto rounded-lg shadow-lg dark:bg-gray-500 hidden md:block" />
          </div>
        </div>
        <div>
          <div class="grid lg:gap-8 lg:grid-cols-2 lg:items-center">
            <div class="lg:col-start-2">
              <h3 class="text-2xl font-bold tracking-tight sm:text-3xl dark:text-gray-50">
                Did you know?
              </h3>
              <p class="mt-3 text-lg dark:text-gray-400">
                We offer every possible lens you can imagine, from varifocals to
                mirror transitions!
              </p>
              <div class="mt-12 space-y-12">
                <div class="flex">
                  <div class="flex-shrink-0">
                    <div class="flex justify-center items-center w-12 h-12 rounded-md dark:bg-b dark:text-gray-900">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                        class="w-7 h-7">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                      </svg>
                    </div>
                  </div>
                  <div class="ml-4">
                    <h4 class="text-lg font-medium leading-6 dark:text-gray-50">
                      A Variety of Lenses to Choose From
                    </h4>
                    <p class="mt-2 dark:text-gray-400">
                      We offer a variety of lens types, including single-vision, bifocal, and progressive
                      lenses, as well as specialty lenses such as photochromic lenses and anti-fatigue
                      lenses.
                    </p>
                  </div>
                </div>
                <div class="flex">
                  <div class="flex-shrink-0">
                    <div class="flex justify-center items-center w-12 h-12 rounded-md dark:bg-b dark:text-gray-900">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                        class="w-7 h-7">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                      </svg>
                    </div>
                  </div>
                  <div class="ml-4">
                    <h4 class="text-lg font-medium leading-6 dark:text-gray-50">
                      Helpful Coatings
                    </h4>
                    <p class="mt-2 dark:text-gray-400">
                      We also offer a range of lens coatings and enhancements, including anti-glare
                      coatings, blue light blocking coatings, and scratch-resistant coatings.
                    </p>
                  </div>
                </div>
                <div class="flex">
                  <div class="flex-shrink-0">
                    <div class="flex justify-center items-center w-12 h-12 rounded-md dark:bg-b dark:text-gray-900">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                        class="w-7 h-7">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                      </svg>
                    </div>
                  </div>
                  <div class="ml-4">
                    <h4 class="text-lg font-medium leading-6 dark:text-gray-50">
                      Shop With Confidence
                    </h4>
                    <p class="mt-2 dark:text-gray-400">
                      Our lenses come with a 100% satisfaction guarantee, providing you with the
                      confidence to shop with us knowing that your satisfaction is our top priority.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-10 lg:mt-0 lg:col-start-1 lg:row-start-1">
              <img src=../img/tall.jpeg alt="" class="mx-auto rounded-lg shadow-lg dark:bg-gray-500 hidden md:block" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="my-16 mx-16">
      <div class="flex flex-wrap">
        <div class="mb-12 w-full grow-0 shrink-0 basis-auto lg:w-5/12 lg:mb-0">
          <div class="flex lg:py-12">
            <img src="https://mdbootstrap.com/img/new/standard/people/035.jpg" class="w-full rounded-lg shadow-lg"
              id="cta-img-nml-50" style="z-index: 10" alt="" />
          </div>
        </div>
    
        <div class="w-full grow-0 shrink-0 basis-auto lg:w-7/12">
          <div class="flex items-center p-6 h-full text-center text-white bg-s rounded-lg lg:pl-12 lg:text-left">
            <div class="lg:pl-12">
              <h2 class="mb-6 text-3xl font-bold">
                What are you waiting for?
              </h2>
              <p class="pb-2 mb-6 lg:pb-0">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Maxime, sint, repellat vel quo quisquam accusamus in qui at
                ipsa enim quibusdam illo laboriosam omnis. Labore itaque illum
                distinctio eum neque!
              </p>
              <button type="button"
                class="inline-block px-7 py-3 text-sm font-medium leading-snug text-white uppercase rounded-full border-2 border-white transition duration-150 ease-in-out hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0"
                data-mdb-ripple="true" data-mdb-ripple-color="light">
                Sign up now
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="my-16 ">
      <div class="mx-6 md:mx-8 lg:mx-24 ">
        <h2 class="text-4xl text-center text-slate-800 font-bold">Card Links to Other Pages</h2>
        <div class="mt-4 md:mt-12">
          <!-- 2 rows, 3 columns on large screens -->
          <div class="grid grid-cols-1 lg:grid-cols-3 gap-8 md:gap-8 lg:gap-24 md:px-24 ">
            <!-- Column 1 -->
            <div class="hover:-translate-y-6 bg-l hover:bg-white ease-in-out duration-1000 rounded-lg hover:shadow-xl group relative shadow-lg dark:bg-gray-800 dark:border-gray-700 mb-12 filter ">
              <a href="">
              <img class="rounded-t-lg w-full filter ease-in-out duration-500 bg-p opacity-100 transition-opacity ease-in-out duration-1000 group-hover:opacity-90" src="../img/card.png" alt="" />
              <div class="p-3 ">
                <h5 class="pb-1 px-4 text-2xl font-bold tracking-tight text-gray-900 dark:text-white border-b-4 border-white">Varifocal Glasses</h5>
                <p class="mb-3 mt-3 ml-4  leading-relaxed font-normal text-gray-700 dark:text-gray-400 ">This coating eliminates surface reflections on a
                  lens,
                  enabling more light transmission, enhancing vision, reducing eye strain, and improving the aesthetics of
                  glasses.
                  An anti-reflective coat also enhances driver safety by minimizing glare from streetlights or headlights,
                  leading
                  to faster recognition of road hazards, especially at night.
                  
                  
                </p>
              </div>
                    <div class="bg-p group-hover:bg-s ease-in-out duration-1000 dark:border-gray-700 dark:divide-gray-700 rounded-b-lg">
                      <a class="w-full px-4 inline-flex justify-center font-medium  text-l shadow-sm align-middle focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm p-3 sm:p-4 dark:bg-slate-900 dark:hover:bg-slate-800 dark:border-gray-700 dark:text-gray-400 dark:hover:text-white dark:focus:ring-offset-gray-800"
                        href="#">
                        View sample
                      </a>
                    </div>
                  </a>
            </div>
            <div
              class="hover:-translate-y-6 bg-l hover:bg-white ease-in-out duration-1000 rounded-lg hover:shadow-xl group relative shadow-lg dark:bg-gray-800 dark:border-gray-700 mb-12 filter ">
              <a href="">
                <img
                  class="rounded-t-lg w-full filter ease-in-out duration-500 bg-p opacity-100 transition-opacity ease-in-out duration-1000 group-hover:opacity-90"
                  src="../img/card.png" alt="" />
                <div class="p-3 ">
                  <h5 class="pb-1 px-4 text-2xl font-bold tracking-tight text-gray-900 dark:text-white border-b-4 border-white">
                    Varifocal Glasses</h5>
                  <p class="mb-3 mt-3 ml-4  leading-relaxed font-normal text-gray-700 dark:text-gray-400 ">This coating eliminates
                    surface reflections on a
                    lens,
                    enabling more light transmission, enhancing vision, reducing eye strain, and improving the aesthetics of
                    glasses.
                    An anti-reflective coat also enhances driver safety by minimizing glare from streetlights or headlights,
                    leading
                    to faster recognition of road hazards, especially at night.
            
            
                  </p>
                </div>
                <div class="bg-p group-hover:bg-s ease-in-out duration-1000 dark:border-gray-700 dark:divide-gray-700 rounded-b-lg">
                  <a class="w-full px-4 inline-flex justify-center font-medium  text-l shadow-sm align-middle focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm p-3 sm:p-4 dark:bg-slate-900 dark:hover:bg-slate-800 dark:border-gray-700 dark:text-gray-400 dark:hover:text-white dark:focus:ring-offset-gray-800"
                    href="#">
                    View sample
                  </a>
                </div>
              </a>
            </div>
            <div
              class="hover:-translate-y-6 bg-l hover:bg-white ease-in-out duration-1000 rounded-lg hover:shadow-xl group relative shadow-lg dark:bg-gray-800 dark:border-gray-700 mb-12 filter ">
              <a href="">
                <img
                  class="rounded-t-lg w-full filter ease-in-out duration-500 bg-p opacity-100 transition-opacity ease-in-out duration-1000 group-hover:opacity-90"
                  src="../img/card.png" alt="" />
                <div class="p-3 ">
                  <h5 class="pb-1 px-4 text-2xl font-bold tracking-tight text-gray-900 dark:text-white border-b-4 border-white">
                    Varifocal Glasses</h5>
                  <p class="mb-3 mt-3 ml-4  leading-relaxed font-normal text-gray-700 dark:text-gray-400 ">This coating eliminates
                    surface reflections on a
                    lens,
                    enabling more light transmission, enhancing vision, reducing eye strain, and improving the aesthetics of
                    glasses.
                    An anti-reflective coat also enhances driver safety by minimizing glare from streetlights or headlights,
                    leading
                    to faster recognition of road hazards, especially at night.
            
            
                  </p>
                </div>
                <div class="bg-p group-hover:bg-s ease-in-out duration-1000 dark:border-gray-700 dark:divide-gray-700 rounded-b-lg">
                  <a class="w-full px-4 inline-flex justify-center font-medium  text-l shadow-sm align-middle focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm p-3 sm:p-4 dark:bg-slate-900 dark:hover:bg-slate-800 dark:border-gray-700 dark:text-gray-400 dark:hover:text-white dark:focus:ring-offset-gray-800"
                    href="#">
                    View sample
                  </a>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="my-12">
      <div class="container mx-auto lg:px-32">
        <h2 class="text-center text-4xl lg:w-5/12 md:w-8/12 sm:w-full mx-auto font-bold text-slate-800 mt-8 "> Frequently
          Asked Questions</h2>
        <div class="flex flex-wrap mt-10">
          <div class="md:w-full lg:w-1/3 p-5 w-full h-full flex justify-center items-center">
            <img src="../img/faq2.jpeg" alt="Lenses" class="w-full h-full rounded-xl">
          </div>
          <div class="md:w-full p-5 w-full lg:w-2/3 align-middle">
            <div class="accordion  rounded-lg show mb-4 bg-gray-100">
              <h3 class="acc-head font-medium text-slate-900 text-lg p-3 flex justify-between items-center">
                <span>Highest Quality Lense Material</span> <i class="fa fa-arrow-down"></i>
              </h3>
              <div class="acc-content ">
                <p class="p-3 text-sm">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Esse error iusto impedit ut cupiditate voluptates praesentium perferendis
                  placeat illum tempore! Doloribus, nihil quia facilis error iure praesentium
                  quaerat autem doloremque.</p>
              </div>
            </div>
            <div class="accordion rounded-lg mb-4 bg-gray-100">
              <h3 class="acc-head font-semibold text-slate-900 text-lg p-3 flex justify-between items-center">
                <span>Cartered to Your Needs</span> <i class="fa fa-arrow-down"></i>
              </h3>
              <div class="acc-content hidden">
                <p class="p-3 text-sm">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Esse error iusto impedit ut cupiditate voluptates praesentium perferendis
                  placeat illum tempore! Doloribus, nihil quia facilis error iure praesentium
                  quaerat autem doloremque.</p>
              </div>
            </div>
            <div class="accordion rounded-lg mb-4 bg-gray-100">
              <h3 class="acc-head font-semibold text-slate-900 text-lg p-3 flex justify-between items-center">
                <span>Helpful Lens Experts</span> <i class="fa fa-arrow-down"></i>
              </h3>
              <div class="acc-content hidden">
                <p class="p-3 text-sm">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Esse error iusto impedit ut cupiditate voluptates praesentium perferendis
                  placeat illum tempore! Doloribus, nihil quia facilis error iure praesentium
                  quaerat autem doloremque.</p>
              </div>
            </div>
            <div class="accordion rounded-lg mb-4 bg-gray-100">
              <h3 class="acc-head font-semibold text-slate-900 text-lg p-3 flex justify-between items-center">
                <span>A
                  Variety of Lenses to Choose From</span> <i class="fa fa-arrow-down"></i>
              </h3>
              <div class="acc-content hidden">
                <p class="p-3 text-sm">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Esse error iusto impedit ut cupiditate voluptates praesentium perferendis
                  placeat illum tempore! Doloribus, nihil quia facilis error iure praesentium
                  quaerat autem doloremque.</p>
              </div>
            </div>
            <div class="accordion rounded-lg mb-4 bg-gray-100">
              <h3 class="acc-head font-semibold text-slate-900 text-lg p-3 flex justify-between items-center">
                <span>Helpful Coatings</span> <i class="fa fa-arrow-down"></i>
              </h3>
              <div class="acc-content hidden">
                <p class="p-3 text-sm">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Esse error iusto impedit ut cupiditate voluptates praesentium perferendis
                  placeat illum tempore! Doloribus, nihil quia facilis error iure praesentium
                  quaerat autem doloremque.</p>
              </div>
            </div>
            <div class="accordion rounded-lg mb-4 bg-gray-100">
              <h3 class="acc-head font-semibold text-slate-900 text-lg p-3 flex justify-between items-center">
                <span>Shop
                  With Confidence</span> <i class="fa fa-arrow-down"></i>
              </h3>
              <div class="acc-content hidden">
                <p class="p-3 text-sm">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Esse error iusto impedit ut cupiditate voluptates praesentium perferendis
                  placeat illum tempore! Doloribus, nihil quia facilis error iure praesentium
                  quaerat autem doloremque.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
  </body>
  <script>
    const accordions = document.querySelectorAll('.accordion');

    accordions.forEach(accordion => {
      const accHead = accordion.querySelector('.acc-head');
      const accContent = accordion.querySelector('.acc-content');

      accHead.addEventListener('click', () => {
        accordions.forEach(otherAccordion => {
          if (otherAccordion !== accordion) {
            otherAccordion.querySelector('.acc-content').classList.add('hidden');
            otherAccordion.querySelector('.acc-head i').classList.remove('fa-arrow-up');
            otherAccordion.querySelector('.acc-head i').classList.add('fa-arrow-down');
          }
        });

        accContent.classList.toggle('hidden');
        accHead.querySelector('i').classList.toggle('fa-arrow-down');
        accHead.querySelector('i').classList.toggle('fa-arrow-up');
      });
    });
  </script>
</html>