<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Site.Title }}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              p: "#1f2937",
              s: "#1E3A8A",
              l: "#f3f4f6",
              t: "#5494EC",
              a: "#f97316",
              b: "#2563eb",
              gr: "#6b7280",
            },
            screens: {
              xxsm: "420px",
              xxxsm: "360px",
            },
          },
        },
      };
    </script>
  </head>
  <body class="bg-white">
    <main>{{ block "main" . }}{{ end }}</main>
  </body>
</html>
