<!-- Left side navigation sections and promotional links -->
<div class="flex w-full flex-wrap lg:w-7/12 xl:w-1/2">
  <div class="grid w-full grid-cols-3 gap-x-6 pl-4 pt-4">
    <!-- Section 1: Glasses -->
    <div class="group space-y-3">
      <div class="text-lg font-semibold text-slate-800">{{ .sections.glasses.title }}</div>
      {{ range .sections.glasses.links }}
      <a
        href="{{ .url }}"
        class="block text-base font-medium text-gray-700 duration-500 ease-in-out hover:underline group-hover:text-black"
      >
        {{ .text }}
      </a>
      {{ end }}
    </div>

    <!-- Section 2: Specialty -->
    <div class="group space-y-3">
      <div class="text-lg font-semibold text-slate-800">{{ .sections.specialty.title }}</div>
      {{ range .sections.specialty.links }}
      <a
        href="{{ .url }}"
        class="block text-base font-medium text-gray-700 duration-500 ease-in-out hover:underline group-hover:text-black"
      >
        {{ .text }}
      </a>
      {{ end }}
    </div>

    <!-- Section 3: Styles -->
    <div class="group space-y-3">
      <div class="text-lg font-semibold text-slate-800">{{ .sections.styles.title }}</div>
      {{ range .sections.styles.links }}
      <a
        href="{{ .url }}"
        class="block text-base font-medium text-gray-700 duration-500 ease-in-out hover:underline group-hover:text-black"
      >
        {{ .text }}
      </a>
      {{ end }}
    </div>

    <!-- Promotional Links -->
    <div class="col-span-3 flex gap-8">
      {{ range .promotional_links }}
      <a class="flex items-start gap-3" href="{{ .url }}">
        {{ .icon | safeHTML }}
        <div class="font-semibold text-slate-800 duration-500 ease-in-out hover:underline">
          {{ .text }}
        </div>
      </a>
      {{ end }}
    </div>
  </div>
</div>
