
<!-- Simple Mobile Megamenu -->
<div class="m-4 space-y-4">
  <!-- Top Cards - First two featured images side by side -->
  {{ partial "megamenu/menu-cards.html" (dict "megamenu" (dict "featured_images" (first 2 .menu.featured_images))) }}

  <!-- Navigation Sections -->
  {{ range .menu.sections }}
    {{ partial "megamenu/mobile-navigation-section.html" . }}
  {{ end }}

  <!-- CTA Links -->
  {{ partial "megamenu/menu-cta.html" . }}

  <!-- Bottom Card - Last featured image as single card -->
  {{ partial "megamenu/menu-cards.html" (dict "megamenu" (dict "featured_images" (last 1 .menu.featured_images))) }}
</div>
