<!-- Debug: {{ printf "%#v" . }} -->
<div class="m-4">
  <!-- Top Image Cards -->
  {{ partial "megamenu/mobile-card-section.html" (dict "cards" .megamenu.top_cards) }}

  <!-- Navigation Sections -->
  {{ range .megamenu.sections }}
    <div class="mt-3">
      {{ partial "megamenu/mobile-navigation-section.html" . }}
    </div>
  {{ end }}

  <!-- CTA Links -->
  <div class="mt-3">
    {{ partial "megamenu/mobile-cta-section.html" . }}
  </div>

  <!-- Bottom Home Trial Card -->
  <div class="mt-3">
    {{ partial "megamenu/mobile-card-section.html" (dict "cards" .megamenu.bottom_card) }}
  </div>
</div>
