<!-- Left Navigation Section -->
<div class="flex w-full flex-wrap">
  <div class="grid w-full grid-cols-3 gap-x-6 pl-4 pt-4">
    {{ range .megamenu.sections }}
    <!-- Section -->
    <div class="group space-y-3">
      {{ range .links }}
      <a
        href="{{ .url | safeHTML }}"
        class="block text-base font-medium text-gray-700 duration-500 ease-in-out hover:underline group-hover:text-black"
      >
        {{ .text }}
      </a>
      {{ end }}
    </div>
    {{ end }}
  </div>
</div>
