<!-- Left Navigation Section -->
<div class="flex w-full flex-wrap">
  <div class="grid w-full grid-cols-3 gap-x-6 pl-4 pt-4">
    {{ range .megamenu.sections }}
    <!-- Section -->
    <div class="group space-y-3">
      {{ range .links }}
      <a
        href="{{ .url | safeHTML }}"
        class="block text-base {{ if or (eq .text "Shop Mens") (eq .text "Shop Womens") (eq .text "Browse all") }}font-bold{{ else }}font-medium{{ end }} text-gray-700 duration-500 ease-in-out hover:underline group-hover:text-black"
      >
        <div class="flex items-center">
          <span>{{ .text }}</span>
          {{ if or (eq .text "Shop Mens") (eq .text "Shop Womens") (eq .text "Browse all") }}
          <svg
            class="w-3.5 h-3.5 ml-2 -rotate-90 transition-transform duration-150 ease-in-out"
            fill="currentColor"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 330 330"
          >
            <path d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393  c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393  s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z"/>
          </svg>
          {{ end }}
        </div>
      </a>
      {{ end }}
    </div>
    {{ end }}
  </div>
</div>

<style>
a:hover svg {
  transform: translateX(4px) rotate(-90deg);
}
</style>
