<div class="relative lg:grid lg:grid-cols-2">
  <img
    class="absolute h-full w-full object-cover lg:relative"
    src="https://www.spex4less.com/media/mf_webp/jpg/media/wysiwyg/redesign/homepage_banner.webp"
    width="1228"
    height="500"
  />
  <div
    class="from-p to-p/75 lg:bg-s dark:tp-slate-900 relative bg-gradient-to-t px-8 pt-8 dark:to-slate-900/75 md:pt-16 lg:to-transparent lg:pt-24"
  >
    <div class="mx-auto flex max-w-3xl flex-col gap-6 md:gap-8 lg:gap-10">
      <h1
        class="text-left text-3xl font-extrabold leading-tight text-white drop-shadow-lg md:text-center md:text-4xl lg:text-left xl:text-6xl"
      >
        Prescription Glasses Online
      </h1>
      <h2
        class="max-w-2xl text-left text-xl font-medium leading-normal text-white md:text-center md:text-2xl lg:text-left lg:text-3xl"
      >
        UK's #1 Rated on Trustpilot: Leading Glasses & Sunglasses with Unmatched
        Customer Service & Affordable Designer Frames since 2004.
      </h2>
      <div
        class="flex flex-col justify-center gap-4 sm:flex-row lg:flex-wrap lg:justify-start"
      >
        <a
          href="/glasses"
          class="text-p hover:text-s hover:bg-l flex w-full justify-between rounded-md bg-white px-4 py-2 text-2xl font-bold shadow-md duration-1000 ease-in-out hover:-translate-y-2 hover:shadow-2xl sm:gap-4 md:w-64 md:py-3"
        >
          <span class="mx-auto text-center">Glasses</span>
        </a>
        <a
          href="/sunglasses"
          class="text-p hover:text-s hover:bg-l flex w-full justify-between rounded-md bg-white px-4 py-2 text-2xl font-bold shadow-md duration-1000 ease-in-out hover:-translate-y-2 hover:shadow-2xl sm:gap-4 md:w-64 md:py-3"
        >
          <span class="mx-auto text-center">Sunglasses</span>
        </a>
      </div>
      <div class="pb-4">
        <a
          href="https://uk.trustpilot.com/review/www.spex4less.com"
          target="_blank"
        >
          <img
            class="hidden lg:block"
            src="https://www.spex4less.com/media/mf_webp/png/media/wysiwyg/redesign/tp_stars_long.webp"
          />
        </a>
        <a
          href="https://uk.trustpilot.com/review/www.spex4less.com"
          target="_blank"
        >
          <img
            class="mx-auto block w-full md:w-1/2 lg:hidden"
            src="https://www.spex4less.com/media/mf_webp/png/media/wysiwyg/redesign/tp-stars.webp"
          />
        </a>
      </div>
    </div>
  </div>
</div>
<h2 class="mx-auto mb-16 mt-6 max-w-6xl text-center text-lg dark:text-gray-200">
  Shop with confidence for your glasses online. Our process is designed for
  simplicity, ensuring you can easily find and purchase what you need.
  Experience the convenience and assurance that comes with shopping with us,
  where ease and customer satisfaction are our top priorities. To get in touch
  with an optical service advisor reach out at
  <a href="tel:01516326611" class="text-link">0151 632 6611 </a> or
  <a href="mailto:info@spex4less.com" class="text-link text-bold"
    >info@spex4less.com</a
  >
</h2>
<section class="dark:bg-p px-3 pb-16 pt-4"></section>