{% set block_data = page_data.flipped_image_text_split %}

<section class="mx-auto max-w-7xl overflow-hidden py-8 md:py-16">
  <div class="mx-auto max-w-7xl px-3 md:px-6 lg:px-8" id="{{ block_data.section_id | default('refer') }}">
    <div
      class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2"
    >
      <div class="lg:pr-8 lg:pt-4">
        <div class="lg:max-w-lg">
          <h2 class="text-s text-base font-semibold leading-7">
            {{ block_data.subtitle | default('Refer a Friend') }}
          </h2>
          <p
            class="mt-2 text-3xl font-bold tracking-tight text-slate-800 md:text-4xl"
          >
            {{ block_data.title | default('Earn Rewards by Sharing') }}
          </p>
          <p class="mt-6 text-lg leading-8 text-gray-600">
            {{ block_data.description | default('Invite your friends to Spex4Less and both of you can enjoy amazing rewards! Easily refer your friends through email or a link and start earning.') }}
          </p>
          <dl
            class="mt-8 max-w-xl space-y-6 text-base leading-7 text-gray-600 lg:max-w-none"
          >
            {% for item in block_data.features | default([]) %}
            <div class="relative text-lg">
              <dt class="inline font-semibold text-gray-900">
                {{ item.title }}
              </dt>
              <dd class="inline">
                {{ item.description | safe }}
              </dd>
            </div>
            {% endfor %}
          </dl>
        </div>
        <div class="mt-10 flex items-center gap-x-6">
          {% for button in block_data.buttons | default([]) %}
          <a
            href="{{ button.url }}"
            class="bg-s focus-visible:outline-s w-48 rounded-md py-2 text-center text-sm font-semibold text-white shadow-sm duration-500 ease-in-out hover:bg-blue-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
          >
            {{ button.text }}
          </a>
          {% endfor %}
        </div>
      </div>
      <img
        src="{{ block_data.image_src | default('https://www.spex4less.com/media/mf_webp/png/media/wysiwyg/redesign/refer-img-tall.webp') }}"
        alt="{{ block_data.image_alt | default('Product screenshot') }}"
        class="h-full rounded-xl object-cover object-center shadow-xl"
      />
    </div>
  </div>
</section>